.App-login {
    background-color: #050505;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    
  }
  
  .login{
    width: 32vw;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
  }
  
  input{
    margin: 4px 0 8px;
    padding: 12px;
    border: 2px solid white;
    border-radius: 4px;
    background-color: #050505;
    color: white;
  }
  
  h1{
    color: #fff;
  }

  h3{
    color:#fff;
  }
  
  label{
    color: #fff;
  }
  
  button {
    padding: 12px;
    border-radius: 25px;
    margin-top: 12px;
    background: #00BFFF;
    color: white;
    font-weight: 800;
  }

  .subtitulo{
    padding: 35px;
    font-size: 17px;
    color: #00BFFF;
  }
  
  .link{
    color: #00BFFF;

  }