.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  .photo {
    margin: auto;
    width: 80%;
    height: 106%;
    border-radius: 0.2rem;
    background: white;
    display: grid;
    grid-template-columns: 37rem 32rem;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    transform: scale(0.8);
    animation: scaleUp 0.3s forwards;
    margin-top: -30px;
  }

  .photo h1{
    color: black;
  }

  .imgs{
    width: 100%;
    height: 670px;
  }

  .inputModal{
    width: 25%;
    height: 45px;
    border: none;
    color: black;
    background: white;
    position: absolute;
    left: 66%;
    top: 93%;
    resize: none;
  }

.fechar{
  margin-left: 96%;
  margin-top: 10px;
  width: 20px;
}

.deleteImagem{
  margin-left: 300px;
  margin-top: 30px;

}

.curtir{
  border: solid black 2px;
  width: 322px;
  height: 83px;
  position: absolute;
  left: 64%;
  top: 75%;
}

.comentar{
  position: absolute;
  left: 91%;
  top: 93%;
  width: 74px;
  color: black;
  background: white;
  border: none;
  font-weight: bold;
}

.comentar:hover{
  color:rgb(0, 162, 255);

}

.inputModal:focus, .inputModal:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 

.author{
  margin-left: 100px;
  font-size: 18px;
  font-weight: bolder;
}

.comentarios{
  border-top: solid black 1px;
  width: 100%;
}

.novoComentario{
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  margin-top: 90%;
  padding: 10px;
  margin-top: 90%;
}

.like img{ 
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-top: 5px;
}

.inputComent{
  background-color: white;
  padding-top: 12px;
  margin-top: 0%;
  width: 425px;
  border: none;
  resize: none;
}

.inputComent:focus, .inputComent:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 

.enviar img{ 
  width: 30px;
  height: 30px;
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

.deleteImagem{
  width: 21px;
  position: absolute;
  left: 760px;
  top: -15px;
}

.bloco{
  display: flex;
}


