.input{
    width: 30vw;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    margin-top: -75px;
    margin: 4px 0 8px;
    padding: 12px;
    border: 2px solid white;
    border-radius: 4px;
    background-color: #050505;
    color: white;
}