/*.header{
  position: fixed;
  width: 100%;
}*/

.titulo{
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  font-family: cursive;
}

.menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.subMenu{
  display: flex;
}

.icone{
  margin-right: 40px;
  width: 30px;
}

.subIcone{
  margin-right: 10px;
  width: 20px;
}

.dropdownContent {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  position: absolute;
  padding:20px;
  background-color: #333;
  z-index: 1;
  border-radius: 20px;
}

.dropdownContent a{
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-family: cursive;
  margin-top: 20px;
  font-size: 15px;
}